.contenedor-header{
    background-color: #242626;;
    width: 100%;
    color: white;
    font-size: 19px;
    
    
}

.contenedor-header .contenedor-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
}

.contenedor-header .contenedor-nav .contenedor-izquierda{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    

}

.flecha svg{
    font-size: 2rem;
}

svg{
    font-size: 1.5rem;
    color: white;

}

button{
    background: none;
    border: none;
}

.contenedor-img{
    width: 60px;
    height: 60px;
    border: 1px solid black;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.contenedor-img img{
    width: 70px;
}

.contenedor-header .contenedor-nav .contenedor-derecha{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items: center;
    gap: 25px;

}